.container-fluid div {
    display: inline-block;
}

.left {
    float: left;
    margin-left: 50px;
}

.left div,
.right div {
    padding-left: 10px;
}

.right {
    float: right;
    margin-right: 50px;
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
}