@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}


/* -- navbar --*/

* {
    font-family: 'Times New Roman';
}

#id {
    display: flex;
    font-family: 'Times New Roman';
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#col-left,
#col-right {
    background-color: rgb(77, 75, 75);
}

#left div,
#right div {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
}

#right {
    float: right;
    margin-right: 50px;
    padding-right: 10px;
}

#left {
    float: left;
    margin-left: 50px;
    padding-left: 10px;
}


/*
#part-2,
#part-1 {
    display: inline-block;
}

.container-fluid {
    display: inline-block;
    color: white;
}

#mynavbar {
    display: inline-block;
    background-color: rgb(77, 75, 75);
    padding: 10px;
    margin-left: 50px;
}

#mynavbar2 {
    display: inline-block;
    background-color: rgb(77, 75, 75);
    padding: 10px;
    margin-right: 50px;
}

#left div,
#right div {
    padding-left: 10px;
}

#right {
    float: right;
    margin-right: 50px;
}

#left {
    float: left;
    margin-left: 50px;
}

*/


/*-- container--*/

.h2-part-1,
.h1-part-2 {
    font-weight: 900;
}

#line-part-1 {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

#img6 {
    width: 100%;
}

.bottom h2 {
    font-weight: 900;
}

.p-bottom-left a,
.p-bottom-center a,
.p-bottom-right a {
    color: #00ffff;
    text-decoration: none;
    box-shadow: 0 1px #00ffff;
    transition: box-shadow .4s, color .3s;
}

a:hover {
    color: #1d269f;
    box-shadow: 0 1px #1d269f;
}