* {
    font-family: 'Times New Roman';
}


/* -- navbar --*/

#id {
    display: flex;
    font-family: 'Times New Roman';
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(222, 220, 217);
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.container-fluid {
    margin-top: 50px;
}


/*-- container--*/

.h2-part-1,
.h1-part-2 {
    font-weight: 900;
}

#line-part-1 {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

#img6 {
    width: 100%;
}


/*-- bottom --*/

.bottom h2 {
    font-weight: 900;
}

.p-bottom-left a,
.p-bottom-center a,
.p-bottom-right a {
    color: #00ffff;
    text-decoration: none;
    box-shadow: 0 1px #00ffff;
    transition: box-shadow .4s, color .3s;
}

a:hover {
    color: #1d269f;
    box-shadow: 0 1px #1d269f;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #id {
        display: inline-block;
        font-family: 'Times New Roman';
        background-color: white;
    }
    .img-part-1 {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets:
     
         */
    .img-part-1 {
        width: 100%;
        height: auto;
    }
    .h2-part-1,
    .p-part-1 {
        position: relative;
        top: 200px;
        left: 50px;
        color: white;
    }
    .h2-part-1 {
        font-size: 32px;
    }
    #line-part-1 {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    /* For desktop:
     
      */
    .h2-part-1,
    .p-part-1 {
        position: relative;
        top: 250px;
        left: 50px;
        color: white;
    }
    .h2-part-1 {
        font-size: 64px;
    }
    #line-part-1 {
        display: none;
    }
}